---
import Layout from '../layouts/Layout.astro';
import PostCard from '../components/PostCard.astro';

import { getFeaturedPosts } from '../api/posts.js';

const featuredPosts = await getFeaturedPosts();
---

<Layout title="Home" hasHeaderBrand={false}>
    <main>
        <div class="site-intro flex items-center justify-center bg-black text-white">
            <h1 class="text-[80px] lg:text-[140px]">ACME</h1>
        </div>

        <div class="max-w-wide mx-auto p-2">
            <h2 class="mt-8 text-2xl">Featured posts</h2>

            <!-- @todo: fix urls -->
            <div class="mt-10 grid gap-8 grid-cols-1 lg:grid-cols-2">
                {
                    featuredPosts.map((featuredPost) => (
                        <PostCard
                            url={`/blog-post/?slug=${featuredPost.slug}`}
                            image={featuredPost.main_image}
                            title={featuredPost.title}
                            date={featuredPost.published_at}
                            categoryName={featuredPost.category.name}
                            categoryUrl={`/blog/?category=${featuredPost.category.slug}`}
                        />
                    ))
                }
            </div>
        </div>
    </main>
</Layout>
