---
import Layout from '../layouts/Layout.astro';
import PostCard from '../components/PostCard.astro';

import { getFeaturedPosts } from '../api/posts.js';

const featuredPosts = await getFeaturedPosts();
---

<Layout title="ACME" hasHeaderBrand={false}>
    <main>
        <div class="site-intro flex items-center justify-center bg-black text-white">
            <h1 class="text-[80px] lg:text-[140px]">ACME</h1>
        </div>

        <div class="max-w-wide mx-auto p-2">
            <h2 class="mt-8 text-2xl">Featured posts</h2>

            <div class="mt-10 grid gap-8 grid-cols-1 lg:grid-cols-2">
                {
                    featuredPosts.map((post) => (
                        <PostCard
                            slug={post.slug}
                            image={post.main_image}
                            title={post.title}
                            date={post.published_at}
                            categoryName={post.category.name}
                            categorySlug={post.category.slug}
                        />
                    ))
                }
            </div>
        </div>
    </main>
</Layout>
